{% extends 'base.html'%}
{%block title%}dashboard{%endblock%}
{%block content%}
<div class="py-6 px-6">
 <h1 class="mb-6 text-xl">Dashboard</h1>
 <div class="flex space-x-4">
    <div class="w-1/2 bg-gray-100 rounded-xl px-4 py-6 emp">
      <h2 class="mb-4 text-lg" style="font-weight: bold;">Employees</h2>

    {% for e in emp %}
      <div class="mb-2 emp">
        <h3 class=font-semibold>{{e.name}}</h3>
      </div>
    {%endfor%}
    </div>
    <div class="w-1/2  bg-gray-100 rounded-xl px-4 py-6 client">
        <h2 class="mb-4 text-lg" style="font-weight: bold;">Clients</h2>
        {% for customer in customer %}
        <div class="mb-2 client">
        <h3 class=font-semibold>{{customer.first_name}} {{customer.date}} {{customer.slot}} {{customer.service}}</h3>
        </div>
    {%endfor%}
    </div>
    <div class="w-1/2  bg-gray-100 rounded-xl px-4 py-6 client">
      <h2 class="mb-4 text-lg" style="font-weight: bold;">Clients by Admin</h2>
      {% for c in client %}
      <div class="mb-2 client">
      <h3 class=font-semibold>{{c.name}}  {{c.date}}  {{c.service}}</h3>
      </div>
  {%endfor%}
  </div>
 </div>
</div>
{% endblock %}